* {
    margin: 0;
    padding: 0;
}

body {
    /* selects background color of intire body */
    background-color: #d1df95;
}

nav {
    /* sets global settings for everything within the header class */
    text-align: right;
    height:60px;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    border-bottom: 8px solid salmon;
}

ul {
    /* removes the bullet points from list items within the unordered list  sets parameters of the unordered list in the nav bar*/
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

ul li {
    /* shows the undordered list in a line block format with a left margin set */
    display: inline-block;
    margin-left: 25px;
    padding: 10px 20px 0 20px;
}

a {
    /* sets all a link elements color to white and text decorations set to none */
    color: #ffffff;
    text-decoration: none;
}

h1, h2, p {
    /* display: inline-block; */
    text-align: center;
    padding: 10px 0;
}

p {
    /* font size for p tags */
    font-size: 25px;
    margin: 20px;
}

img {
    /* settings for center image */
   display: block;
   margin-left:auto;
   margin-right:auto;
   padding:30px; 
}

section {
    /* adjusts the contact me and form section bacjground color text alignt to center with a border */
    background-color: #30b7cf;
    text-align: center;
    border-top: 10px solid salmon;
    padding: 20px;
}

footer p {
    /* changes font of p tag inside footer */
    font-size: 15px;
}

footer{
    /* fonts, align center, padding for all of footer */
    padding: 5px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:#2a607c;
    color:white;
    border-bottom: 10px solid grey;
}

input, button {
    /* sets margin of the inputs and button */
    margin: 0 0% 10px 0;
}

form {
    /* sets border parameters, margin, and padding for the contact me form */
    border: 5px solid tan;
    border-radius: 15px;
    margin: 0 40%;
    padding:10px;
}

button {
    /* sets the parameters for the SEND button */
    margin:0 0 10px 0;
    background-color: teal; 
    color:tomato;
    font-weight: bold;
    width: 80px;
    height:30px;
}