.header {
    /* sets global settings for everything within the header class */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header div {
    /* sets parameters for all div elements within the header class */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    /* removes the bullet points from list items within the unordered list */
    list-style-type: none;
}

ul li {
    /* shows the undordered list in a line block format with a left margin set */
    display: inline-block;
    margin-left: 25px;
}